html, body {
	background: rgb(255, 242, 218) ;
	margin: 0;
}

#top, #bottom, #left, #right {
	background: rgb(255, 242, 218);
	position: fixed;
	}
	
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }


.portrait {
	width: 20cm;
    height: 20cm;
}
